* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}
.wrapper {
  display: grid;
  grid-template-columns: [pierwsza] 1fr [druga] 1fr [ostatnia] 1fr [zzz];
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: druga;
  grid-row: 1;
}
.two { 
  grid-column: druga;
  grid-row: 2;
}
.three {
  grid-column: ostatnia;
  grid-row: 2;
}
.four {
  grid-column: pierwsza;
  grid-row: 1;
}
.five {
  grid-column: pierwsza;
  grid-row: 2;
}
.six {
  grid-column: ostatnia;
  grid-row: 1;
}

.itemA {
    grid-column: pierwsza / ostatnia;
    grid-row: 1;
}
.itemB {
    grid-column: ostatnia;
    grid-row: 1 / 3;
}.itemC {
    grid-column: pierwsza ;
    grid-row: 2;
}.itemD {
    grid-column: druga;
    grid-row: 2;
}
